@font-face{
    font-family: "Ime";
    src:url("./fonts/JosefinSans-Regular.ttf");
}
body{
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;

}
h1{
    font-family: 'Charmonman', cursive;
    font-weight: normal;
}
#prvi{
    font-weight: 700;
    font-family: Ime;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 5px;
    text-align: left;


}

#prvi quote{
    font-weight: normal;
}

#prvi q{
    font-weight: bold;
}
#drugi{
    font-style: oblique;
    text-transform: lowercase;
    text-decoration: line-through;
    line-height: 200%;
    text-align: right;

    
}
 #treci {
     text-align: center;

 }
#drugi q{
    font-style: italic;
}
#treci q{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-style: oblique;

}
span{
    font-style: italic;
    font-weight: 400;
}
ul{
    color: red;
    text-shadow: 13px 13px 12px 0px rgba(50, 50, 50, 0.95);
}
a:link{
    color:red;
}
a:visited{
    color: black;
}
a:hover{
    color: green;
}
a:active{
    color: blue;
}