$headBgColor: #2962ff;
$headColor: white;
$bodyBgColor: #e3f2fd;
$lightGray: #eee;
$textColor: #333;

$containerWidth:960px;
$tableWidth:100%;
$firstTDWidth:300px;

body {
margin: 0;
padding: 0;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background:$bodyBgColor;
}
.container {
width: $containerWidth;
margin: 0 auto;
}
h1 {
    padding: 3% 0;
    text-align: center;
    background: $headBgColor;
    color: $headColor;
}

h2 {
    margin-bottom: 0px;
    padding-left: 1%;
    text-align: left;
    background: $headBgColor;
    color: $headColor;
}

img {
    height: 45%;
    margin: 4% auto 4%;
    display: block;
}

table {
    width: $tableWidth;
    color: $textColor;
    background: $headColor;
    border-collapse: collapse;

    tr {
        border-bottom: 1px solid $lightGray;

        td {
            padding: 1% 0;
            &:first-child {
                width: $firstTDWidth;
                padding-left: 1.5%;
            }
        }
        
        
    }
}

p#footer {
    margin-top: 10%;
}



